<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tussle.myowntimer">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />


    <application
        android:allowBackup="true"
        android:name=".sharedPreference.GlobalApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_kor"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyOwnTimer">
        <service android:name=".service.ForcedTerminationService"
            android:stopWithTask="false"/>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.DetailActivity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity"/>
        </activity>

        <activity android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.BackupActivity"
            android:screenOrientation="portrait"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
    </application>

</manifest>